[Desktop Entry]
Name=EzYTDownloader
Comment=Download YouTube videos & audio with ease
Exec=EzYTDownloader
Icon=ezytdownloader
Terminal=false
Type=Application
Categories=Network;AudioVideo;